{% extends "accueil/index.html" %}
{% block content %}
    <h1 style="text-align: center;">Enroll Student</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.first_name.label_tag }} 
        {{ form.first_name }} 

        {{ form.last_name.label_tag }}
        {{ form.last_name }} 
        {{ form.birth_date.label_tag }}
        {{ form.birth_date }} 
        {{ form.tel.label_tag }}
        {{ form.tel }} 
        {{ form.email.label_tag }}
        {{ form.email }} 

        {{ form.pathway.label_tag }}
        {{ form.pathway }} 

        <button type="submit">Enregistrer</button>
    </form>

{% endblock %}

